{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Usuario</title>
    <!-- .css -->
    <link rel="stylesheet" href="{% static '/styles/nav.css' %}" />
    <link rel="stylesheet" href="{% static '/styles/empleado/admin/form.css' %}">

</head>
<body>

    <header>
        <nav>
            <div class="navbar">
                <div class="logo">
                    <a href="/adm_home">
                        <img src="{% static '/logo/LogoFerremas.png' %}" alt="Logo" />
                    </a>
                </div>
                <div class="nav-items">
                    <ul>
                        <li><a href="#" id="pedidos-link"><i class="fas fa-list-alt"></i> Pedidos</a></li>
                        <li><a href="#" id="productos-link"><i class="fas fa-list-alt"></i> Productos</a></li>
                        <li><a href="/adm_inventario" id="inventario-link"><i class="fas fa-list-alt"></i> Inventario</a></li>
                        <li><a href="#" id="facturaciones-link"><i class="fas fa-list-alt"></i> Facturaciones</a></li>
                        <li><a href="#" id="reportes-link"><i class="fas fa-list-alt"></i> Reportes</a></li>
                        <li><a href="/adm_usuarios" id="usuarios-link"><i class="fas fa-list-alt"></i> Usuarios</a></li>
                        <li><a href="/"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="content" style="margin-top: 100px; margin-left: 15px;">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Guardar Cambios</button>
        </form>
    </div>

</body>
</html>
