{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ferremas - Crear Factura</title>
    <!-- .css -->
    <link rel="stylesheet" href="{% static 'styles/nav.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/form.css' %}" />
</head>
<body>

    <header>
        <nav>
            <div class="navbar">
                <div class="logo">
                    <a href="/ven_home">
                        <img src="{% static 'logo/LogoFerremas.png' %}" alt="Logo" />
                    </a>
                </div>
                <div class="nav-items">
                    <ul>
                        <li><a href="/ven_pedidos" id="pedidos-link"><i class="fas fa-list-alt"></i> Pedidos</a></li>
                        <li><a href="/ven_inventario" id="inventario-link"><i class="fas fa-list-alt"></i> Inventario</a></li>
                        <li><a href="/ven_facturacion" id="facturacion-link"><i class="fas fa-list-alt"></i> Facturación</a></li>
                        <li><a href="/"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="content" id="text1" style="margin-top: 100px; margin-left: 15px; font-family: Arial, sans-serif">
        <h2>Crear Factura</h2>

        <!-- Formulario para los datos básicos de la factura -->
        <form method="POST" action="{% url 'ven_crear_factura' %}">
            {% csrf_token %}
            {{ factura_form.as_p }}
    
            <button type="submit">Crear Factura</button>
        </form>

    </div>

</body>
</html>
