{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Producto</title>
    <!-- .css -->
    <link rel="stylesheet" href="{% static '/styles/nav.css' %}" />
    <link rel="stylesheet" href="{% static '/styles/form.css' %}">

</head>
<body>

    <header>
        <nav>
            <div class="navbar">
                <div class="logo">
                    <a href="/bod_home">
                        <img src="{% static '/logo/LogoFerremas.png' %}" alt="Logo" />
                    </a>
                </div>
                <div class="nav-items">
                    <ul>
                        <li><a href="/bod_ordenesP" id="ordenesP-link"><i class="fas fa-list-alt"></i> Pedidos</a></li>
                        <li><a href="/bod_productos" id="productos-link"><i class="fas fa-list-alt"></i> Productos</a></li>
                        <li><a href="/bod_inventario" id="inventario-link"><i class="fas fa-list-alt"></i> Inventario</a></li>
                        <li><a href="/"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="content" style="margin-top: 100px; margin-left: 15px;">
        <h2>Editar Producto: {{ producto.prod_nom }}</h2>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Guardar Cambios</button>
        </form>
    </div>

</body>
</html>
